body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#inputContainer {
    margin-bottom: 20px;
}

input {
    padding: 10px ;
    font-size: 16px;
    min-width:80%;
    margin: 6px 0;
    border-radius:8px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#grafica2D, #grafica3D {
    width: 80%;
    margin: auto;
    height: 400px;
}

#teclado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#teclado button {
    width: 60px;
    height: 40px;
    margin: 5px;
}

.grid-row-2{
    height-max: 500px;
    display: grid;
    grid-template-columns:  5fr 1fr;
    gap: 10px;
    padding: 20px;
    background-color: #f3f4f6;

}

[onclick="agregarFuncion()"]{
    max-width:50px;
}

#contentImputFuncion {
    max-height: 200px; /* Altura máxima */
    overflow-y: auto; /* Agrega scroll si hay muchos inputs */
    border: 1px solid #ccc; /* Opcional: solo para visualizar mejor el área */
    padding: 10px;
    position: relative;
}